*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: blueviolet;
}

.moon{
    position: absolute;
    background-color: white;
    height: 250px;
    width: 250px;
    top: 225px;
    left: 25%;
    border-radius: 50%;
   
}

.moon1{
    position: absolute;
    background-color: blueviolet;
    height: 250px;
    width: 250px;
    top: 200px;
    left: 27%;
    border-radius: 50%;
}

.room1{
    position: absolute;
    background-color: chocolate;
    height: 250px;
    width: 350px;
    top: 200px;
    left: 60%;
    border-radius: 50%;
    
}
.room2{
    position: absolute;
    background-color: blueviolet;
    height: 250px;
    width: 350px;
    top: 300px;
    left: 60%;
    
    
}

.room3{
    position: absolute;
    background-color:gray;
    height: 250px;
    width: 240px;
    top: 300px;
    left: 63%;
}

.room4{
    position: absolute;
    background-color:black;
    height: 50px;
    width: 50px;
    top: 350px;
    left: 65%;
}
.room5{
    position: absolute;
    background-color:black;
    height: 100px;
    width: 50px;
    top: 450px;
    left: 70%;
}
.room6{
    position: absolute;
    background-color:black;
    height: 20px;
    width: 240px;
    top: 550px;
    left: 63%;
}
.room7{
    position: absolute;
    background-color:black;
    height: 50px;
    width: 50px;
    top: 350px;
    left: 73add%;
}







